.gradle/
.idea/
/build/
/vendor/
/.tools/
/bin/
/.bin/
/tmp/
/.settings/

/.env
.envrc

*.tmp
*.bak
*.swp
*.jar

local.properties
.loadpath
.recommenders

!gradle-wrapper.jar
/run.sh
*.env

.classpath
.project
.settings
*~
.*~
schema/eda-common-lib.raml
